TARGET_NAME=EXAMPLE.MULTI_COPY_COPY_COPY
DESCRIPTION="Example multiline SQL rule"
DOCUMENT_URL=https://example.com
DASHBOARD_URL=
TAG_LIST=example
IS_ACTIVE=false
IS_MUTED=false
DATA_SOURCE=OPCMON_DB
SQL_TIMEOUT_SEC=30
SQL_JITTER_SEC=0
SQL_MODE=multiline
SCHEDULE_CRON="* * * * *"
MUTE_BETWEEN_ENABLED=true
MUTE_BETWEEN_RULES=[{"start":"17:45","end":"07:00","days":["MON","TUE","WED","THU","FRI","SAT","SUN"]},{"start":"00:00","end":"00:30","days":["MON","TUE","WED","THU"]}]
MUTE_UNTIL_ENABLED=false
MUTE_UNTIL=
QUERY_FILE=EXAMPLE.MULTI_COPY_COPY_COPY.sql

MAP_VAL1=METRIC_NAME
MAP_VAL2=VVV2

METRIC_COUNT=3
METRIC_1_NAME=DEFAULT
METRIC_1_VALUE=VVV2
METRIC_1_NORMAL_ACTION=NOOP
METRIC_1_NORMAL_MSG="DEFAULT {{METRIC_NAME}}={{VAL2}}"
METRIC_1_CRITICAL_1_OPERATOR=>
METRIC_1_CRITICAL_1_VAL=10
METRIC_1_CRITICAL_1_ACTION=CRITICAL_OPCMON
METRIC_1_CRITICAL_1_MSG="DEFAULT {{METRIC_NAME}}={{VAL2}}"
METRIC_2_NAME=DEFAULT
METRIC_2_VALUE=VAL3
METRIC_2_NORMAL_ACTION=NOOP
METRIC_2_NORMAL_MSG="SPECIAL {{VAL2}}"
METRIC_2_CRITICAL_1_OPERATOR="="
METRIC_2_CRITICAL_1_VAL=3
METRIC_2_CRITICAL_1_ACTION=CRITICAL_OPCMON
METRIC_2_CRITICAL_1_MSG=sdfsd
METRIC_3_NAME=SPECIAL2
METRIC_3_VALUE=VVV2
METRIC_3_NORMAL_ACTION=CRITICAL_OPCMON
METRIC_3_NORMAL_MSG=dfsfds
METRIC_3_CRITICAL_1_OPERATOR=>
METRIC_3_CRITICAL_1_VAL=3
METRIC_3_CRITICAL_1_ACTION=NORMAL_OPCMON
METRIC_3_CRITICAL_1_MSG=dfs
