TARGET_NAME=EXAMPLE.SINGLE_ALL_MAJOR
DESCRIPTION="Example single-line SQL rule"
DOCUMENT_URL=https://example.com
DASHBOARD_URL=
TAG_LIST=example
IS_ACTIVE=true
IS_MUTED=false
DATA_SOURCE=OPCMON_DB
SQL_TIMEOUT_SEC=30
SQL_JITTER_SEC=0
SQL_MODE=single
SCHEDULE_CRON="* * * * *"
MUTE_BETWEEN_ENABLED=false
MUTE_BETWEEN_RULES=
MUTE_UNTIL_ENABLED=true
MUTE_UNTIL="2026-05-27 10:31:00"
QUERY_FILE=EXAMPLE.SINGLE_ALL_MAJOR.sql

MAP_VAL1=NMETRIC
MAP_VAL2=MMETRIC
MAP_VAL3=CMETRIC
MAP_VAL4=DTTM
MAP_VAL5=SMSTR

METRIC_COUNT=1
METRIC_1_NAME=CMETRIC_COPY
METRIC_1_VALUE=MMETRIC
METRIC_1_NORMAL_ACTION=NOOP
METRIC_1_NORMAL_MSG="{{METRIC_NAME}}  -- {{CMETRIC}}  normal -- check evaluator."
METRIC_1_CRITICAL_1_OPERATOR=>
METRIC_1_CRITICAL_1_VAL=50
METRIC_1_CRITICAL_1_ACTION=NORMAL_OPCMON
METRIC_1_CRITICAL_1_MSG="{{METRIC_NAME}}  -- {{CMETRIC}}  CRITICAL --  --    {{DTTM}}  -- {{SMSTR}}"
METRIC_1_CRITICAL_1_TIMEFRAME=
METRIC_1_MAJOR_1_OPERATOR=<
METRIC_1_MAJOR_1_VAL="( MMETRIC + BASELINE ) * 2 / 3"
METRIC_1_MAJOR_1_ACTION=MAJOR_MAIL
METRIC_1_MAJOR_1_MSG="{{METRIC_NAME}}  -- {{CMETRIC}}  MAJOR {{CONDITION_VALUE}}"
METRIC_1_MAJOR_1_TIMEFRAME=
