TARGET_NAME=EXAMPLE.SINGLE_COP7_COPY
DESCRIPTION="Example single-line SQL rule"
DOCUMENT_URL=https://example.com
DASHBOARD_URL=
TAG_LIST=example
IS_ACTIVE=false
IS_MUTED=false
DATA_SOURCE=OPCMON_DB
SQL_TIMEOUT_SEC=30
SQL_JITTER_SEC=0
SQL_MODE=single
SCHEDULE_CRON="* * * * *"
MUTE_BETWEEN_ENABLED=false
MUTE_BETWEEN_RULES=
MUTE_UNTIL_ENABLED=false
MUTE_UNTIL=
QUERY_FILE=EXAMPLE.SINGLE_COP7_COPY.sql

MAP_VAL1=NMETRIC
MAP_VAL2=MMETRIC
MAP_VAL3=CMETRIC
MAP_VAL4=DTTM
MAP_VAL5=SMSTR

METRIC_COUNT=4
METRIC_1_NAME=NMETRIC
METRIC_1_VALUE=NMETRIC
METRIC_1_NORMAL_ACTION=NORMAL_OPCMON
METRIC_1_NORMAL_MSG="{{METRIC_NAME}}  -- {{NMETRIC}}  normal    --    {{DTTM}}  -- {{SMSTR}}"
METRIC_1_CRITICAL_1_OPERATOR=<
METRIC_1_CRITICAL_1_VAL=10
METRIC_1_CRITICAL_1_ACTION=MAJOR_MAIL
METRIC_1_CRITICAL_1_MSG="{{METRIC_NAME}}  -- {{NMETRIC}}  not normal -- check evaluator."
METRIC_2_NAME=MMETRIC
METRIC_2_VALUE=MMETRIC
METRIC_2_NORMAL_ACTION=NOOP
METRIC_2_NORMAL_MSG="{{METRIC_NAME}}  -- {{MMETRIC}}  normal -- check evaluator."
METRIC_2_CRITICAL_1_OPERATOR=<
METRIC_2_CRITICAL_1_VAL=4
METRIC_2_CRITICAL_1_ACTION=CRITICAL_OPCMON
METRIC_2_CRITICAL_1_MSG="{{METRIC_NAME}}  -- {{MMETRIC}}  critical-- check evaluator."
METRIC_2_MAJOR_1_OPERATOR="="
METRIC_2_MAJOR_1_VAL=10
METRIC_2_MAJOR_1_ACTION=MAJOR_MAIL
METRIC_2_MAJOR_1_MSG="{{METRIC_NAME}}  -- {{MMETRIC}} major. --    {{DTTM}}  -- {{SMSTR}}"
METRIC_3_NAME=CMETRIC
METRIC_3_VALUE=CMETRIC
METRIC_3_NORMAL_ACTION=NOOP
METRIC_3_NORMAL_MSG="{{METRIC_NAME}}  -- {{CMETRIC}}  normal -- check evaluator."
METRIC_3_CRITICAL_1_OPERATOR=>
METRIC_3_CRITICAL_1_VAL=50
METRIC_3_CRITICAL_1_ACTION=NORMAL_OPCMON
METRIC_3_CRITICAL_1_MSG="{{METRIC_NAME}}  -- {{CMETRIC}}  CRITICAL --  --    {{DTTM}}  -- {{SMSTR}}"
METRIC_3_MAJOR_1_OPERATOR=>
METRIC_3_MAJOR_1_VAL=110
METRIC_3_MAJOR_1_ACTION=MAJOR_MAIL
METRIC_3_MAJOR_1_MSG="{{METRIC_NAME}}  -- {{CMETRIC}}  MAJOR - CHECK EVA"
METRIC_4_NAME=CMETRIC_COPY
METRIC_4_VALUE=CMETRIC
METRIC_4_NORMAL_ACTION=NOOP
METRIC_4_NORMAL_MSG="{{METRIC_NAME}}  -- {{CMETRIC}}  normal -- check evaluator."
METRIC_4_CRITICAL_1_OPERATOR=>
METRIC_4_CRITICAL_1_VAL=50
METRIC_4_CRITICAL_1_ACTION=NORMAL_OPCMON
METRIC_4_CRITICAL_1_MSG="{{METRIC_NAME}}  -- {{CMETRIC}}  CRITICAL --  --    {{DTTM}}  -- {{SMSTR}}"
METRIC_4_MAJOR_1_OPERATOR=>
METRIC_4_MAJOR_1_VAL=110
METRIC_4_MAJOR_1_ACTION=MAJOR_MAIL
METRIC_4_MAJOR_1_MSG="{{METRIC_NAME}}  -- {{CMETRIC}}  MAJOR - CHECK EVA"
